{
  "presets": [
    "env",
    ["es2015", { "modules": false }],
    "react"
  ],
  "ignore": [
    "**/**/*.css"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-class-properties",
    "transform-object-assign",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-dynamic-import-node"
      ]
    }
  }
}
