init.author.name=Talend Frontend
init.author.email=frontend@talend.com
init.author.url=http://www.talend.com
email=frontend@talend.com
//registry.npmjs.org/:_authToken=7de649cd-5c43-47d9-83f0-dede07e5ef59